h1,
h2 {
    margin: 0;
}

body {
    background-image: linear-gradient(#006e69, #002238);
    background-color: #002238;
    background-attachment: scroll;
    background-repeat: repeat-x;
    margin: 0;
    color: #FFFFFF;
}

a {
    color: #CCCCCC;
}
div {
    padding: 1em;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
}

#menu > a {
    padding-left: .25em;
    padding-right: .25em;
}
